
/*Css NavBar*/
.backgroundSideNavAdmin{
    width: 100%;
    height: auto;
    background: linear-gradient(#333, #000);
    display:flex;
    position: fixed;
    left:240px;
    padding-right: 240px;
    transition-delay: 100ms;
}
.backgroundSideNav1Admin{
    width: 100%;
    height: auto;
    background: linear-gradient(#333, #000);
    display:flex;
    position: fixed;
    left:56px;
    padding-right: 56px;
    transition-delay: 100ms;
}

.saltoLineaNameAdmin{
    display: block;
  }

.bodyStyle{
    margin-top: 83px;
    width: 100%;
    height: auto;
    background: linear-gradient(#333, #000);
    display:flex;
    position: fixed;
    left:240px;
    padding-right: 240px;
    transition-delay: 100ms;
    z-index: 1;
}
.bodyStyle1{
    margin-top: 72px;
    width: 100%;
    height: auto;
    background: linear-gradient(#333, #000);
    display:flex;
    position: fixed;
    left:56px;
    transition-delay: 100ms;
}

.bodyStyle2{
    margin-top: 82px !important;
    width: 100%;
    height: auto;
    background: linear-gradient(#333, #000);
    display:flex;
    position: fixed;
    left:56px;
    transition-delay: 100ms;
}

.contenidoSideBarAdmin{
    position:absolute;
    width: 100% ;
    max-width: 100% ;
    z-index: 0;
    top: 0;
}

.contenidoSideBar1Admin{
    overflow-y: scroll;
    width: 100% ;
    max-width: 100% ;
    height: 90vh;
    z-index: 0;
    padding: 2em;
}

.navBarinSideBarAdmin{
    width: 100%;
    background-color: transparent !important;
}

.TweetSideBarAdmin{
    width: 100%;
}

.navMenuItemAdmin{
    width: auto !important;
    height: 100% !important;
} 
