.mb-3{
    color:#5b73a5;
}
.publicar{
    color:#5b73a5;
    border: 1px solid;
    float:right;
    font-weight: bold;
}

.contenedor-textArea{
    background: rgb(241, 243, 244);
    width: 100%;
}

.post{
    width: 100%;
}

.botones-icon{
    font-size: 1.6em;
}
.botones-icon:hover{
    color:black;
    font-size: 1.7em;
    cursor:pointer
}

.botones{
    color:#5b73a5;
    border: 1px solid;
    float:right;
    font-weight: bold;
}

.box-textArea-feature{
    margin-top: 1.5em;
}

.imageProfile{
    height: 50px;
    width: 50px;
    margin-right: 0.2em;
    border-radius: 50%;
    object-fit: fill; /*Modifica la imagen segun el contenedor que lo tiene.*/
}

.boxPost{
    display: flex;
}

.nameDate span{
    display: block;
}
.nameUser{
    font-size: 1.3em;
    margin-bottom: -0.3em;
    font-weight: bold;
}
.datePost{
    font-size: 0.8em;
    font-style:italic;
}

.containerDateUser{
    margin-bottom: -1.1em;
}

.box-textArea{
    margin-bottom: -1em;
}